<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<style>
.bold {
    font-weight: bold;
}
body {
    margin: 50px;
    padding: 20px;
}
.box {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 280px;;
}
.box h4 {
    margin: 0;
}
.box p {
    margin: 5px 0;
    padding: 0;
}
.box span {
    font-weight: bold;
}
#invoiceInfo {
    background-color: #ccc;
}
#from {
    background-color: antiquewhite;
}
#to {
    background-color: #b3e6cc;
}
#entries {
    margin-top: 30px;
}
#entries li {
    margin: 20px 0;
}

/* Override table styles set in global `site.css` */
#entries table {
    border-collapse: separate;
    margin: 0;
}
#entries td {
    padding: 0;
}
/**/

#period {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px 0;
}
#footer {
    margin-top: 30px;
}
#footer p {
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
}
</style>
</head>

<body>
    <div id="header">
        <div id="invoiceInfo" class="box">
            <p><span>Invoice Number:</span> </p>
            <p><span>Invoice Date:</span> {{ .CurrentDate }}</p>
            <p><span>Invoice Hours:</span> {{ .Invoice.TotalHours }}</p>
            <p><span>Invoice Amount:</span> ${{ .Amount }}</p>
        </div>
        <div id="from" class="box">
            <h4>From:</h4>
            <p>Benjamin Toll</p>
            <p>113 Old Colony Road</p>
            <p>Princeton, MA 01541</p>
        </div>
        <div id="to" class="box">
            <h4>Bill To:</h4>
            <p>Benjamin Toll</p>
            <p>113 Old Colony Road</p>
            <p>Princeton, MA 01541</p>
        </div>
    </div>

    <div id="entries">
        <p id="period">
            <span class="bold">Period - </span><span>{{ .Invoice.DateFrom }}</span> // <span>{{ .Invoice.DateTo }}</span>
        </p>
        <h4>Work Description:</h4>
        <ul>
            {{ with .Invoice.Entries }}
            {{ range . }}
                <li>
                    <span>{{ .Date }}, {{ .Hours }} hours {{ if .URL }} ({{ .URL }}) {{ end }}</span>
                    <table>
                        <tr>
                            <td class="bold">{{ .Title }}</td>
                        </tr>
                        <tr>
                            <td>{{ .Comment }}</td>
                        </tr>
                    </table>
                </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>

    <div id="footer">
        <p>Please pay upon receipt.</p>
        <p>Thank you!</p>
    </div>
</body>
</html>

